.navbar {
	background-color: #0000ff;
	border-color: #0080c0;
}

.navbar-brand {
	color: white;
	font-weight: bold;
	
}

.nav-link{
	background: none;
	color: white;
	font-weight: bold;
}

.nav-link>.active:hover {
	color: yellow;
}

textarea {
	width: 100%;
}

.errors {
	color: #ff0000;
	font-weight: bold;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 20px;
}

.edit-links {
	margin-top: 10px;
}